@import './assets/css/buttons.css';
@import './assets/css/tables.css';
@import './assets/css/inputs.css';
@import './assets/css/modals.css';

body {
  font-family: Roboto,"Helvetica Neue",sans-serif !important;
}

.app-logo {
  -webkit-animation: App-logo-spin infinite 20s linear;
  animation: App-logo-spin infinite 20s linear;
  margin-right: 30px;
}

.navbar {
  padding: 0 1rem !important;
  height: 60px !important;
  margin-bottom: 15px;
}

.card-link {
  padding: 10px 20px;
  border-radius: 5px;
}

.card-link:hover {
  background-color: #f8f8f8;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.61) !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.dashboard-card .card-link {
  color: #37474F !important
}

.card-title {
  color: #757575;
  font-style: italic;
}

.card-img {
  padding: 2px;
  height: 120px;
}

.card-img-view {
  position: absolute;
  top: -50px;
  right: 15px;
}

.dashboard-card p {
  height: 100px;
}

.svg-inline--fa {
  margin-right: 5px;
}

.jumbotron {
  background-color: #e9ecef75 !important;
}

.center {
  text-align: center;
}

.card-block {
  padding: 10px;
}

.navbar {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.16),0 0px 5px 0 rgba(0,0,0,.12)!important;
}

.media-body {
  margin-left: 20px;
}

.dashboard-container {
  margin-top: 50px;
}

.mini-container {
  margin: 20px;
}

.navbar-nav.pull-right {
  position: absolute;
  right: 10px;
  top: 15%;
}

.heading {
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #1A237E;
  font-style: italic;
}

.buttons {
  float: right;
  text-align: right;
}

.float-right {
  float: right;
}

.margin-left {
  margin-left: 0px !important;
}

.margin-left .btn {
  width: 100px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.buttons .btn {
  margin: 5px;
  width: 130px;
}

.icons-buttons .btn {
  margin: 0px 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-bs-table-container table {
  margin-bottom: 0px !important;
}

.not-found {
  margin-left: auto !important;
  margin-right: auto !important;
  display: -webkit-box;
  margin-bottom: auto !important;
  margin-top: 150px !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #9e9e9e;
}